body {
    background-color: #f1f1f1;
}
.secao-texto , progress :-webkit-full-screen{
    font-style: italic;
}

img {
    width: 190px;
    margin-top: ;
}

div {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-family: Verdana;
    color: #606062;
    padding: 10px;
    border: 5px solid #606062;
}

h2 {
    font-size: 20px;
    font-family: Verdana;
    color: #7a797b;
    margin: 35px 20px;
   margin-top: 10px;
   border-l ;
}

h3 {
    font-size: 18px;
    font-family: Verdana;
    font-weight: normal;
    color: #606062;
    padding: 10px 0;
    margin-top: 30px;
    border-top: 2px solid #606062;
    border-bottom: 2px solid #606062;
    border-style: s;
}

p {
    font-size: 18px;
    font-family: Verdana;
    text-align: justify;
    line-height: 32px;
    color: #616163;
    margin-bottom: 35px;
}

span {
    font-weight: bold;
}

a {
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 15px;
    color: #ffffff;
    background-color: #25D366;
    border-radius: 25px;
}
.teste{
background-color: blue;
color: #25D366;
text-align: inherit;
text: size adjust 1px; ;
size-adjust: 1cm;


}